/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
}

/* ------------- */

body {
    height: 100vh;
    background-image: url("./img/bg.svg");

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: rgb(143, 143, 143);

    /* Flexbox */
    display: flex;
    padding: 10px;
}

/* When trying to make nav bars, make sure "flex-direction: row" for the actual nav links lol */
.left-links {
    /* Box Model */


    /* Flexbox */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.footer {
    background-color:  rgb(143, 143, 143);
}

    .footer-text {
        /* Box Model */
        padding: 10px;

        /* Flexbox */
        display: flex;
        justify-content: center;
        align-items: center;
    }